.divFile {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.5vh;
  width: 98vw;
  background-color: #BFD7ED;
}
.divProgress {
  position: absolute;
  left: 0;
  top: 2.5vh;
  height: 5vh;
  width: 98vw;
  background-color: #60A3D9;
}
.divCanvas{
    position: absolute;
    left: 30vw;
    top: 7.5vh;
    height: 88vh;
    width: 68vw;
    background-color: #0074B7;
}
.divTreeView{
    position: absolute;
    left: 0;
    top: 7.5vh;
    height: 88vh;
    width: 30vw;
    background-color: #003B73;
}